<article id="certificate" class="panel">
  <section>
    <header class="quote__school">FORMAÇÃO ACADÊMICA</header>
    <p></p>
    <section>
      <div class="row">
        <header>
          <h1 class="quote__organization">Licenciatura em Engenharia Civil, 2021</h1>
          <h4 class="quote__line">
            <b><i>Instituto Superior Politécnico Metropolitano de Angola</i></b>
            <a href="http://www.imetroangola.com/" target="_blank"> (IMETRO)</a>
          </h4>
          <h4 class="quote__line">
            <b><u>Orientadora:</u> Engª Civil MSc. CEO - Next Building,</b>
            <a 
              href="https://www.linkedin.com/in/tatiana-encarna%C3%A7%C3%A3o-engenheiracivil-gerentedeprojectos/" 
              target="_blank" 
              class="icon solid">Tatiana da Encarnação Casaca
            </a>
          </h4>
          <p>
            <h1 class="quote__organization">Ensino Médio Técnico em Construção Civil - Técnico de Obras, 2014</h1>
              <h4 class="quote__line">
                <b><i>Instituto Médio Industrial de Luanda</i></b>
                <a href="#certificate" target="_blank"> (IMIL)</a>
              </h4>
          </p>
        </header>
      </div>
    </section>
    <section>
      <header class="quote__school">FORMAÇÃO MOTA-ENGIL</header>
    </section>
    <section>
      <div class="row">
        <div class="col-4 col-6-medium col-12-small">
          <a 
            href="https://media.licdn.com/dms/image/D562DAQGardhOJRBsAQ/profile-treasury-image-shrink_800_800/0/1698042347081?e=1704214800&v=beta&t=-KzcW6TEcXJtHlQwux9RPCCQD8jZq2jKuyhBke2gIxU"
            target="_blank"
            class="image fit">
            <img src="images/SAP.jpeg" alt="">
          </a>
          <p>
            <b>SAP Aprovisionamentos, Logística e Armazém</b>
          </p>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a
            href="https://media.licdn.com/dms/image/D4D2DAQGivjAYXkBBJg/profile-treasury-image-shrink_800_800/0/1699937660011?e=1703775600&v=beta&t=5N2obvzBVmQweRt_eGpDralcxc1E2CWbC0udMw99Rbo"
            target="_blank"
            class="image fit">
            <img src="images/orcamento.jpeg" alt="">
          </a>
          <p>
            <b>Certificado de Introdução à Orçamentação Candy (CCS), Parte1</b>
          </p>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a
            href="https://media.licdn.com/dms/image/D4D2DAQGqlB5lC48pBg/profile-treasury-image-shrink_800_800/0/1699937630358?e=1703775600&v=beta&t=DwQvL7d3csU1krNJfhsAX__PSCP8Ky69CBf66Ik2tdo"
            target="_blank"
            class="image fit">
            <img src="images/orcamento2.jpeg" alt="">
          </a>
          <p>
            <b>Certificado de Introdução à Orçamentação Candy (CCS), Parte 2</b>
          </p>
        </div>
      </div>
    </section>
    <section>
      <header class="quote__school">FORMAÇÃO COMPLEMENTAR</header>
    </section>
    <section>
      <div class="row">
        <div class="col-4 col-6-medium col-12-small">
          <a
            href="https://media.licdn.com/dms/image/C4E2DAQFxt0Tsico2PQ/profile-treasury-image-shrink_800_800/0/1634891606297?e=1703775600&v=beta&t=H8nbmfwFDiR5BnYvip5cgJ8HAet5GiHQin-Fl2n0qYg"
            target="_blank"
            class="image fit"
          >
            <img src="images/fiscalizacao.jpeg" alt="">
          </a>
          <p>
            <b>Certificado de Fiscalização de Empreitadas de Obras</b>
          </p>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a
            href="https://media.licdn.com/dms/image/C4E2DAQH1UIWls64L3g/profile-treasury-image-shrink_800_800/0/1634891573067?e=1703775600&v=beta&t=r5-Uf3YNeP5BhJatvD769WEXSWONu8EZbYtow1e5kBw"
            target="_blank"
            class="image fit">
            <img src="images/medicoes.jpeg" alt="">
          </a>
          <p><b>Certificado Medições e Orçamento</b></p>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a
            href="https://media.licdn.com/dms/image/C4E2DAQFK3eM1qYUlhA/profile-treasury-image-shrink_800_800/0/1622286301232?e=1703775600&v=beta&t=96z8MUuK2I3dKzQN2YTf8RqnHgPKbpNNL9ukYKBATAU"
            target="_blank"
            class="image fit">
            <img src="images/ladrilhador.jpeg" alt="">
          </a>
          <p><b>Certificado INEFP - Pedreiro Ladrilhador</b></p>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a
            href="https://media.licdn.com/dms/image/C4E2DAQEhHUlFUZ_Ncg/profile-treasury-image-shrink_800_800/0/1622339651809?e=1703772000&v=beta&t=eaXIssvxWCyiB277OOmuaMBv4weyyMc2-CVI4BJwBXk"
            target="_blank"
            class="image fit">
            <img src="images/english.jpeg" alt="">
          </a>
          <p><b>Namibia University Certificate of Completion</b></p>
        </div>
      </div>
    </section>
    <section>
      <header class="quote__school">IDIOMAS</header>
    </section>
    <section>
      <div class="row">
        <div class="col-4 col-6-medium col-12-small">
          <a
            href="https://media.licdn.com/dms/image/C4E2DAQEhHUlFUZ_Ncg/profile-treasury-image-shrink_800_800/0/1622339651809?e=1703772000&v=beta&t=eaXIssvxWCyiB277OOmuaMBv4weyyMc2-CVI4BJwBXk"
            target="_blank"
            class="image fit">
            <img src="images/english.jpeg" alt="">
          </a>
          <p><b>Certificate of Completion - Namibia University of Science and Technology</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-6-medium col-12-small fit">
          <a
            href="images/adonai.jpeg"
            class="image fit">
            <img src="images/adonai.jpeg" alt="">
          </a>
          <p><b>Certificate of Achievement - Adonai College</b></p>
        </div>
      </div>
    </section>
  </section>
  <a href="#certificate" class="arrow icon solid fa-arrow-up"></a>
</article>