<!-- certificate -->
<article id="certificate" class="panel">
  <section>
    <div class="row">
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/fiscalizacao.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/ladrilhador.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/medicoes.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/orcamento.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/orcamento2.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/english.jpeg" alt=""
        /></a>
      </div>
    </div>
  </section>
</article>
