<!-- Curriculum -->
<article id="curriculum" class="panel">
     <header>
          <h3>
               TÉCNICO DE ENGENHARIA JÚNIOR (MACRO-FUNÇÃO), 01/2022 - Presente
               Área de Produção (Construção) - Direcção de obra (Adjunta)
               <p class="quote__organization">MOTA-ENGIL ANGOLA</p>
          </h3>
     </header>
     <p>projetos
          <ul class="list list--tick">
               <li class="list__item">
                    Reabilitação da Pista do Pavimento do Aeroporto de Cabinda (Cabinda-Angola)
               </li>
               <li class="list__item">
                    Construção dos Acessos à Nova Ponte Sobre o Rio Lucola (Cabinda-Angola)
               </li>
               <li class="list__item">
                    Construção da Nova Ponte Sobre o Rio Lucola (Cabinda-Angola)
               </li>
               <li class="list__item">
                    Reabilitação do Edifício de Escritórios da Rua de Macau (Cabinda-Angola)
               </li>
               <li class="list__item">
                    Reabilitação e Ampliação da Maternidade 1º de Maio (Cabinda-Angola)
               </li>
          </ul>
     </p> 
     <header>
          <h3>
               ESTAGIÁRIO | TRAINEE PROGRAM STARTME@2021_8th EDITION
               <p class="quote__organization">MOTA-ENGIL ANGOLA</p>
               <p class="quote__organization">Área de Produção (Construção) - Direcção de obra (Adjunta)</p>
          </h3>
     </header>
     <p>projetos
          <ul class="list list--tick">
               <li class="list__item">
                    Reabilitação e Ampliação da Maternidade 1º de Maio (Cabinda-Angola)
               </li>
               <li class="list__item">
                    Hospital Geral de Cabinda – HGC
               </li>
               <li class="list__item">
                    Laboratório Mota-Engil Angola (Cabinda)
               </li>
          </ul>
     </p> 
     <header>
          <h3>
               ENGENHEIRO CIVIL JÚNIOR
               <p class="quote__organization">CADEL Construções</p>
               <p class="quote__organization">Área de Produção - Direcção de obra (Adjunta)</p>
          </h3>
     </header>
     <header>
          <h3>
               ESTAGIÁRIO
               <p class="quote__organization">Instituto Nacional de Ordenamento do Território e Desenvolvimento Urbano</p>
               <p class="quote__organization">Área de Produção (Construção) - Direcção de obra (Adjunta)</p>
          </h3>
     </header>
     <ul class="list list--tick">
          <li class="list__item">
               Elaboração e apresentação do traçado de redes técnicas de centralidades;
          </li>
          <li class="list__item">
               Avaliar planos urbanísticos;
          </li>
     </ul>
</article>  