<div id="wrapper">
  <nav id="nav">
    <a href="#" class="icon solid fa-home"><span>Home</span></a>
    <a href="#work" class="icon solid fa-folder"><span>Work</span></a>
    <a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
    <a
      href="https://linkedin.com/in/josefpedro/details/projects/"
      target="_blank"
      class="icon brands fa-linkedin"
      ><span>LinkedIn</span></a
    >
  </nav>

  <!-- Main -->
  <div id="main">
    <!-- Me -->
    <article id="home" class="panel intro">
      <header>
        <h1>José Francisco Pedro</h1>
        <p>Membro Associado A3 da Ordem dos Engenheiros de Angola (OEA)</p>
      </header>
      <a href="#work" class="jumplink pic">
        <span class="arrow icon solid fa-chevron-right"
          ><span>See my work</span></span
        >
        <img src="images/me.jpg" alt="" />
      </a>
    </article>
  </div>
</div>
