<article id="home" class="panel intro">
  <header>
    <h1>José Francisco Pedro</h1>
    <p>
      <b
        >Olá, <b>sou <u>Engenheiro Civil,</u></b> e Membro Associado A3 da Ordem
        dos Engenheiros de Angola (OEA).</b
      >
    </p>
    <p><b>Esta é uma apresentação dos meus projetos e habilidades.</b></p>
    <p>
      <a
        href="https://ambrosiopublicfiles.s3.us-east-2.amazonaws.com/Jose_Pedro_Engineering_Order_Card.jpg"
        target="_blank"
        class="arrow icon solid fa-chevron-right"
      >
        Cartão de Membro
      </a>
    </p>
  </header>
  <a href="#work" class="jumplink pic">
    <span class="arrow icon solid fa-chevron-right"
      ><span>See my work</span></span
    >
    <img src="images/me.jpg" alt="" />
  </a>
</article>
