<article id="projects" class="panel">
  <header>
    <h2>
      Reabilitação dos Pavimentos do Aeroporto Maria Mambo Café, <u class="quote__organization">Cabinda – 2023</u>
    </h2>
  </header>
  <section>
    <div class="row">
      <div class="col-4 col-6-medium col-12-small">
        <a href="https://linkedin.com/in/josefpedro/details/projects/" target="_blank" class="image fit"
          ><img src="images/A3.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A0.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A1.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A5.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A3.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A2.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A7.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A8.jpg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/A9.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
</article>
<article id="projects" class="panel">
  <header>
    <h2>
      Projecto Arquitectónico e Estrutura de Vivenda Unifamiliar T4, <u class="quote__organization">2021 – 2023</u>
    </h2>
  </header>
  <p>
    A estrutura compreende: 
    <ul class="list list--tick">
      <li class="list__item">Piso 0: Sala de estar, sala de jantar, cozinha com despensa, lavabo, quarto com WC, 
        lavandaria, escritório + biblioteca.
      </li>
      <li class="list__item">Piso 1: Sala de estar, lavabo, suíte com ante sala, 2 quartos com WC.</li>
    Edifício de apoio:
 <li class="list__item">Piso 0: Sala aberta para convívio (com área para grelhados), WC externo, piscina (7×3)m.</li>
        <li class="list__item">Piso 2: Sala de estar, cozinha, WC geral, 2 quartos.</li>
    </ul>
  </p>
  <section>
    <div class="row">
      <div class="col-4 col-6-medium col-12-small">
        <a href="https://media.licdn.com/dms/image/D4D2DAQFUQt7WDhmDgw/profile-treasury-image-shrink_800_800/0/1697941592245?e=1703296800&v=beta&t=AesihFQNu6RTK5f-UXhcF2Ml-jSF32oOiEo8Pse4Ago" target="_blank" class="image fit"
          ><img src="images/p1.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p2.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p3.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p5.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p4.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p6.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p7.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p8.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/p7.jpeg" alt=""
        /></a>
      </div>
    </div>
  </section>
</article>
<article id="projects" class="panel">
  <header>
    <h2>
      Projeto Arquitectónico Evolutivo para Conjunto Residencial em
      Huambo
      <p class="quote__organization">
        CADEL Construções - Setembro/2020
      </p>
    </h2>
  </header>
  <p>
    Desenvolvimento de um conjunto de 10 apartamentos, cada um composto
    por sala, cozinha, quarto e WC. O projeto incluiu uma receção geral,
    cozinha comunitária e zona de estacionamento. Notavelmente, foram
    projetadas duas escadas para facilitar o acesso ao piso superior,
    com a ambição de expansão para pouco mais de 15 apartamentos.
  </p>
  <section>
    <div class="row">
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/im1.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/im2.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/im3.jpeg" alt=""
        /></a>
      </div>
    </div>
  </section>
</article>
<article id="projects" class="panel">
  <header>
    <h2>
      Projeto de Alteração e Reforma de Duas Residências T1
      <p class="quote__organization">
        Julho de 2021 - Agosto de 2021
      </p>
    </h2>
  </header>
  <p>
    Realização da alteração e reforma de duas residências do tipo T1, cada uma composta por hall, sala comum, cozinha, W.C e quarto. 
    As atividades desenvolvidas englobaram:
    <ul class="list list--tick">
      <li class="list__item">Aberturas de vão para a criação de balcão;</li>
      <li class="list__item">Execução de revestimento de pisos e paredes em Porcelanato;</li>
      <li class="list__item">Nivelamento de piso;</li>
      <li class="list__item">Renovação da pintura geral interna;</li>
      <li class="list__item">Intervenção na rede de saneamento (esgotos), incluindo limpeza de fossa séptica;</li>
      <li class="list__item">Intervenção na cobertura para resolver problemas de infiltração causados por intempéries.</li>
    </ul>
  </p>
  <section>
    <div class="row">
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="#" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="#" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="#" alt=""
        /></a>
      </div>
    </div>
  </section>
</article>
<article id="projects" class="panel">
  <header>
    <h2>
      Projeto Arquitetónico: Edifício Multifuncional de 3 Pisos em Soyo
      <p class="quote__organization">
        Zaire | Soyo - Kukala Kiaku - Setembro/2019
      </p>
    </h2>
  </header>
  <p>
    Desenvolvimento de um edifício multifuncional ao longo de setembro
    de 2019. A estrutura compreende: 
    <ul class="list list--tick">
      <li class="list__item">Piso 0: Loja;</li>
      <li class="list__item">Piso 1: Escritórios;</li>
      <li class="list__item"> Piso 2: Discoteca Económica (convertível para salão de festas);</li>
      <li class="list__item">Piso 3: Discoteca VIP (a zona VIP também é conversível para salão de festas).</li>
    </ul>
     O projeto incluiu atividades de supervisão da obra, acompanhamento da execução física, controlo de custos e 
     gestão de estoque, durante um período de 3 meses.
  </p>
  <section>
    <div class="row">
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="#" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m0.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m01.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m2.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m1.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m3.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m4.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m5.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m6.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m7.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m8.jpeg" alt=""
        /></a>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <a href="#" class="image fit"
          ><img src="images/m9.jpeg" alt=""
        /></a>
      </div>
    </div>
  </section>
</article>